.memory{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
    width: 31vw;
    min-height: 660px;
    border: 1px solid var(--gray-600);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}

.container{
    display: flex;
    width: fit-content;
    gap: 0.5rem;
    max-width: 572px;
    flex-wrap: wrap;
}

.button{
    border: none;
    cursor: pointer;
    background-color: var(--text-secondary);
    border-radius: 8px;
    border: solid 1px #ffffff;
    height: 50px;
    width: 50px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
}

.buttonText{
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-style: bold;
}
