@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.memory{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 20vw;
    padding: 0.5rem;
    background-color: var(--gray-800);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
@media (max-width: 768px) {
    .memory{
        width: 94vw;
        align-self: center;
    }
}

.division{
    height: 1px;
    width: 100%;
    background-color: var(--gray-600);
}

.header{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.title{
    font-family: 'Roboto Mono', monospace;
    font-size: xx-large;
    color: white;
    background-color: var(--blue-700);
    border-radius: 8px;
    padding: 8px;
}

.content{
    border: solid 1px var(--gray-600);
    border-radius: 1rem;
}

.container{
    display: flex;
    width: auto;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 0.75rem;
}

.group{
    width: 100%;
    display: flex;
    height: fit-content;
    padding: 5px; 
    gap: 0.5rem;
}

.slot{
    background-color:var(--gray-700);
    border-radius: 8px;
    border: solid 1px var(--gray-900);
    width: 100%;
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .slot{
        height: 35vw;
    }
}

.button{
    border: none;
    cursor: pointer;
    background-color: var(--gray-600);
    border-radius: 8px;
    border: solid 1px var(--gray-900);
    height: 50px;
    min-width: 50px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s ease;
}
.buttonActive {
    background-color: var(--blue-700);
    border-color: #0099ff;
    transition: background-color 0.2s ease;
}

.buttonActive:hover {
    background-color: var(--red-600);
}

.button:hover{
    background-color: var(--gray-900);
}

.button:active {
    background-color: var(--blue-700);
}

.button.active {
    background-color: var(--blue-700);
}

.addButton{
    border: none;
    cursor: pointer;
    background-color: var(--gray-600);
    border-radius: 50%;
    border: solid 1px var(--text-secondary);
    height: 50px;
    width: 50px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
}

.addButton:hover{
    background-color: var(--text-secondary);
}

.buttonText{
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-style: bold;
}

.timeInput{
    padding: 0 0 0 20px;
    background-color: var(--gray-600);
    border-radius: 8px;
    border: solid 1px var(--gray-900);
    height: 50px;
    width: 100px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

.timeInput::-webkit-outer-spin-button,
.timeInput::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}