.simulation {
    border: 1px solid var(--gray-600);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
    width: 75vw;
    height: 45vw;
    position: relative;
    background: linear-gradient(
    180deg,
    #848484,
    #545454
    );
}
@media (max-width: 1082px) {
  .simulation {
        width: 95vw;
        height: 57vw;
        align-self: center;
    }
}


.simBox{
    display: flex;
    flex-direction: column;
}

.selectProcesser{
    background-color: var(--gray-900);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}
@media (max-width: 1082px) {
  .selectProcesser {
        width: 95vw;
        align-self: center;
    }
}

.botao {
  padding: 1% 1%;
  border: 2px solid #d1d5db;
  border-radius: 8px;
  background: #fff;
  color: var(--gray-900);
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: clamp(0.5rem, 1vw, 1.2rem);
  font-family: 'Roboto Mono', monospace;;
}

.botao:hover {
  border-color: var(--blue-600);
}

.ativo {
  background: var(--blue-600);
  color: #fff;
  border-color: var(--blue-600);
}

.componente {
    display: flex;
    flex-direction: column;
    border-radius: clamp(2px, 1vw ,5px); 
    overflow: hidden; 
    border: 1px solid #333; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto Mono', monospace;
    background-color:rgb(240, 248, 255);
}

.decA{
    position: absolute;
    right: 38%;
    top: 5%;
    width: 8%;
    height: 8%;
}
.decB{
    position: absolute;
    right: 38%;
    top: 13%;
    width: 8%;
    height: 8%;
}
.decC{
    position: absolute;
    right: 38%;
    top: 21%;
    width: 8%;
    height: 8%;
}
.mir{
    position: absolute;
    right: 11%;
    top: 60%;
    width: 9%;
    height: 8%;
}
.mpc{
    position: absolute;
    right: 13%;
    top: 40%;
    width: 5%;
    height: 6%;
}
.msl{
    position: absolute;
    right: 30%;
    top: 75%;
    width: 6%;
    height: 6%;
}
.mmux{
    position: absolute;
    right: 9%;
    top: 30%;
    width: 14%;
    height: 8%;
}
.controlStore{
    position: absolute;
    right: 6%;
    top: 50%;
    width: 19%;
    height: 9%;
}
.mar{
    position: absolute;
    left: 0%;
    top: 60%;
    width: 11%;
    height: 8%;
}
.mbr{
    position: absolute;
    left: 0%;
    top: 70%;
    width: 14%;
    height: 8%;
}
.latchA{
    position: absolute;
    top: 45%;
    right: 60%;
    width: 14%;
    height: 8%;
}
.latchB{
    position: absolute;
    top: 45%;
    right: 42%;
    width: 14%;
    height: 8%;
}
.amux{
    position: absolute;
    top: 60%;
    right: 60%;
    width: 14%;
    height: 8%;
}
.shifter{
    position: absolute;
    top: 88%;
    right: 51%;
    width: 14%;
    height: 8%;
}
.clock{
    position: absolute;
    right: 7%;
    top: 11%;
    width: 18%;
    height: 12%;
}

.label {
    background-color: var(--gray-800);
    color: white;
    text-shadow: 1px 1px 2px #d97706; 
    font-weight: bold;
    text-align: center;
    padding: 2% 3%;
    border-bottom: 1px solid #222;
    font-size: clamp(0.4rem, 1vw, 1.2rem);
}

.value {
    color: black;
    font-size: clamp(0.3rem, 1vw, 1.2rem);
    text-align: center;
    padding: 4% 10%;
    font-family: 'Roboto Mono', monospace;
}

/* Container do Banco */
.banco {
    border: 1px solid var(--gray-900);
    background-color: var(--gray-800);
    border-radius: 5px;
    position: absolute;
    top: 5%;
    left: 2%;
    height: 30%;
    width: 45%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
}
@media (max-width: 1082px) {
  .banco {
        height: 40%;
        width: 47%;
        top: 2%;
    }
}


/* Parte do banco de registradores */
.tituloBanco {
    text-align: center;
    background-color: var(--gray-800);
    color: white;
    text-shadow: 1px 2px 2px #d97706; 
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid var(--gray-600);
    font-size: clamp(0.4rem, 1vw, 1.2rem);
    font-family: 'Roboto Mono', monospace;
    padding: 1% 1%;
}

.registradoresGrid {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

/* Registrador */
.regItem {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-900);
    border-radius: 3px;
    border: 1px solid var(--gray-900);

    overflow: hidden;

    box-shadow:
        inset 0 1px 2px rgba(255,255,255,0.03),
        0 2px 6px rgba(0,0,0,0.2);
}

.regLabel {
    height: 35%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-shadow: 1px 1px 2px #d97706; 
    background-color: var(--gray-800);
    color: var(--white);

    font-weight: 700;
    font-size: clamp(0.4rem, 1vw, 1.2rem);

    border-bottom: 1px solid var(--gray-600);
}

.regValue {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    background-color:aliceblue;
    font-family: 'Roboto Mono', monospace;
    font-size: clamp(0.25rem, 0.8vw, 1.2rem);
}